@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;  
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

p {
    font-weight: 500;
    color: rgb(158, 157, 162);
    line-height: 28px;
}

.green {
    color: #75BF7A;
}

/* header styles */

.header .container{
    padding-top: 85px;
}

.header img{
    max-width: 120px;
}

.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 46px;
}

.header__btn{
    margin-left: 46px;
    background-color: #75BF7A;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
}

/* main section */

main{
    background-color: rgb(229, 229, 229);
}

/* weclome section */

.welcome .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.welcome__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.welcome__title{
    font-weight: 800;
    font-size: 35px;
    line-height: 65px;

    margin-top: 154px;
}

.welcome__subtitle{
    padding-top: 30px;
}

.welcome__btns{
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.welcome__btn{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: 600;
    cursor: pointer;
}

.welcome__btn img{
    margin-right: 15px;
}

.welcome__main{
    margin-top: 55px;
}

/* input section */

.input .container{
    background-color: #75BF7A;
    border-radius: 10px;
}

.input__wrap{
    padding: 55px 70px;
    display: flex;

    align-items: center;
}
.input__title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;

    max-width: 250px;

    padding-right: 120px;
}

.input__input {
    max-width: 500px;
    min-width: 280px;
    height: 67px;
    border: none;
    border-radius: 5px;
    width: 100%;

    outline: none;
}

.input__input::placeholder{
    font-size: 20px;
    font-weight: 600;
    color: #dadada;
    padding-left: 35px;
}

.input__btn {
    background-color: #000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    max-width: 260px;
    width: 100%;
    height: 67px;

    cursor: pointer;
    border-radius: 5px;
    margin-left: 16px;
}

.input__btn-text{
    font-size: 22px;
}

/* instructions section */

.instruction .container{
    padding-top: 130px;
}

.instruction__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.instruction__title {

}

.instruction__subtitle {
    max-width: 620px;
    text-align: center;
    
}

.instruction__wrap {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    /* flex-direction: column; */
    grid-template-areas: 
    "A E B"
    "C E D"
    ". . .";

    justify-content: center;
    margin-top: 65px;
}

.instruction__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.instruction__item1{
    grid-area: A;
}

.instruction__item2{
    grid-area: B;
}

.instruction__item3{
    grid-area: E;
}

.instruction__item4{
    grid-area: C;
}

.instruction__item5{
    grid-area: D;
}

.instruction__item img{
    width: 60px;
}

.instruction__item-title {

}

.instruction__item-subtitle {

}
.instruction__phone{
    max-width: 400px;
    /* flex-basis: 100%; */
}

.instruction__item1, .instruction__item4{
    text-align: right;
    align-items: end
}

.instruction__item2, .instruction__item5{
    text-align: left;
    align-items: start;
}

.instruction__slider-wrap{
    display: flex;
    justify-content: center;

    margin-top: 60px;
}

